.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 15px 20px; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navbar-content {
    display: flex;
    align-items: center;
    margin-right: 50px; 
  }
  
  .navbar-user {
    font-size: 18px; 
    margin-right: 50px; 
  }
  
  .logout-button {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
  }
  
  .logout-button:hover {
    background-color: #0056b3;
    color: white;
  }
  